.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    overflow: hidden;
    z-index: 1;
    background-color: #416D78;
  }
  
  .carousel a {
    background-color: #416D78;
  }
  
  .carousel-images {
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
    gap: 50px; 
    padding: 50px;
  }
  
  .image-wrapper {
    /* flex: 0 0 calc(13% - 10px);  */
    max-width: 145px;
    background-color:  #416D78; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 145px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .image-wrapper:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.5rem #438d81);
    box-shadow: 0.5px 0.5px 0.5rem #86b4a5;
  }
  
  .image-wrapper img {
    width: 90%;
    height: 90%;
    object-fit: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #416D78;
  }
  
  .image-wrapper.active {
    /* transform: scale(1.1); */
    z-index: 2;
    background-color: #416D78;
  }
  
  /* button.prev,
  button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #061531;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
  }
  
  button.prev {
    left: 0;
  }
  
  button.next {
    right: 0;
  }  */