 
 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border-radius: 15px;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #e0e0e0;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
    }

    .content {
      display: flex;
      max-width: 900px;
      width: 100%;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      flex-wrap: wrap;
    }

    .info-section {
      background-color: #416D78;
      color: white;
      padding: 40px;
      flex: 1 1 300px;
    }

    .info-section h4 {
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 20px;
      background-color: #416D78;
    }

    .info-section p {
      margin-bottom: 40px;
      font-size: 15px;
      font-size: 14px;
      background-color: transparent;
    }

    form #cor{
        background-color: #ffffff;
    }

    .form-section {
      background-color: white;
      padding: 40px;
      flex: 1 1 300px;
    }

    .form-section h2 {
      margin-bottom: 20px;
      background-color: #ffffff;
    }

    .form-section input,
    .form-section textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
      border-bottom: 2px solid #ccc;
      font-size: 14px;
      outline: none;
      background-color: #eeecec;
    }

    .form-section button {
      padding: 10px 20px;
      background-color: #416D78;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    .form-section button:hover {
      background-color: #416D78;
    }

    /* Responsivo para telas menores */
     @media (max-width: 768px) {
      .content {
        flex-direction: column;
      }

      .info-section,
      .form-section {
        padding: 30px 20px;
      }
    }

    @media (max-width: 480px) {
      .form-section h2 {
        font-size: 20px;
      }

      .info-section h4 {
        font-size: 16px;
      }
    } 