.second-carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    margin: -23px auto;
    margin-top: 50px;
    overflow: hidden;
    z-index: 1;
    padding: 30px;
    margin-bottom: -150px;
  }
  
  .second-carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 50px; 
    padding: 30px;
  }
  
  .second-image-wrapper {
    flex: 0 0 calc(40% - 10px);  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  
  .second-image-wrapper:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.5rem #072d32);
    box-shadow: 0.7px 0.7px 0.7rem #072d32;
  }
  
  .second-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: flex;
    opacity: 0.8;
    margin: 0px;
  }
  
  .second-image-wrapper.active {
    transform: scale(0.8);
    z-index: 2;
  }
  
  button.second-prev,
  button.second-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #86a89d;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
  }
  
  button.second-prev {
    left: 0;
  }
  
  button.second-next {
    right: 0;
  }  

  .leia-mais-btn {
  	position: absolute;
  	top: 20px;
  	left: 20px;
  	background-color: #072d32;
  	color: #ddd3d3;
  	border: none;
  	display: flex;
  	padding: 5px 14px;
  	border-radius: 12px;
  	font-size: 17px;
  	font-family:'HK Grotesk', sans-serif;
  	cursor: pointer;
  	text-decoration: none;
  	transition: background-color 0.3s;
	}

	.leia-mais-btn:hover {
  	background-color: rgba(0, 0, 0, 0.8);
	}
